# Clustering and Exploring the Neighborhoods of Toronto

### Part 2 - Append the Geotags to the dataset

#### Download and import necessary packages

In [60]:
import pandas as pd # library for data analsysis

#### Read in the data frame from part 1

In [61]:
toronto = pd.read_csv('toronto.csv',index_col=0)
toronto.head()

  PostalCodes           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

#### Download the geodata for the Toronto post codes

In [62]:
!wget -q -O 'toronto_geodata.csv' http://cocl.us/Geospatial_data
print('Data downloaded!')

Data downloaded!

#### Read in and examine the geodata

In [63]:
toronto_geodata = pd.read_csv('toronto_geodata.csv')
print(toronto_geodata.head())
print(toronto_geodata.shape)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
(103, 3)

#### Rename the column in the geodata df to match the toronto df

In [64]:
#Merging the two data frames
toronto_geodata = toronto_geodata.rename(columns={'Postal Code':'PostalCodes'})
toronto_geodata.head()

  PostalCodes   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Sort both data frames by post code to prepare for adding the lat long data to the toronto data frame

In [66]:
toronto_geodata = toronto_geodata.sort_values(by='PostalCodes')
toronto = toronto.sort_values(by='PostalCodes')
toronto.reset_index(drop=True,inplace=True)
print(toronto_geodata.head(10))
print(toronto.head(10))

  PostalCodes   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848
  PostalCodes      Borough                                     Neighborhood
0         M1B  Scarborough                                   Malvern, Rouge
1         M1C  Scarborough           Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough                Guildwood, Morningside, West Hill
3         M1G  Scarborough                                           Woburn
4         M1H  Scarborough                                        Cedarbrae
5         M1J  Scarborough                              Scarborough Village
6         M1K  Scarborough      Kennedy Park, Ionview, East Birchmount Park
7         M1L  Scarborough                  Golden Mile, Clairlea, Oakridge
8         M1M  Scarborough  Cliffside, Cliffcrest, Scarborough Village West
9         M1N  Scarborough                      Birch Cliff, Cliffside West

#### Add the lat long colunns from the geodata dataframe to the toronto dataframe - examine the table

In [67]:
toronto['Latitude'] = toronto_geodata['Latitude']
toronto['Longitude'] = toronto_geodata['Longitude']
toronto.head(20)

,PostalCodes,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.727929,-79.262029
7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town...",43.757410,-79.273304
11,M1R,Scarborough,"Wexford, Maryvale",43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners, Tam O'Shanter, Sullivan",43.781638,-79.304302
14,M1V,Scarborough,"Milliken, Agincourt North, Steeles East, L'Amo...",43.815252,-79.284577
15,M1W,Scarborough,"Steeles West, L'Amoreaux West",43.799525,-79.318389
16,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
17,M2H,North York,Hillcrest Village,43.803762,-79.363452
18,M2J,North York,"Fairview, Henry Farm, Oriole",43.778517,-79.346556
19,M2K,North York,Bayview Village,43.786947,-79.385975

#### Printout shape of updated table

In [68]:
toronto.shape

(103, 5)

#### Copy table for use in part 3

In [70]:
toronto.to_csv('toronto_data.csv')